.SmallRed{
    font-size: small;
    color: red;
    width: 400px;
}
label
{
    padding-left: 10px;
}
.checkboxGroup
{
    padding: 10px;
}
.CheckBoxColumn
{
    float: left;
    padding:10px;
}
.checkBoxFont
{
  font-size:10px;
}
.attributeButton
{
    font-size: small;
    color: red;
    padding:5px;
    margin: 3px;
}

 body {
     margin:0;
     position:fixed;
     top:0;
     right:0;
     bottom:0;
     left:0;
 }

.bar {
    fill: steelblue;
}

.bar:hover {
    fill: brown;
}

.label {
    fill: black;
    font: 10px sans-serif;
    text-anchor: middle;
}
.bar.positive {
    fill: steelblue;
}

.bar.negative {
    fill: brown;
}

.axis text {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
